.webpage> *{
   box-sizing: border-box;
}
.webpage{
    display:grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}
.webpage> *{
    border: 1px solid black;
    background-color: rgb(222, 160, 78);
    padding: 10px;
    grid-column: col-start / span 12;
}
.heading{
    text-align:center;
    font-size:12px;
}

.navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
}

.navigation a:hover{
    background-color: rgb(232, 228, 224);
    color: rgb(88, 13, 192);
}
.navigation a:link{
    color: rgb(0, 0, 0);
}
.navigation a:visited{
    color: rgb(44, 2, 183);
}